Repository techInterview-study/Tech_Interview_for_Beginner, pull requests merged in 2024-03, with the labels that each got.

#37 [혜윤] DB trigger 내용 작성
  Database/db_trigger.md
  Database/img/db_trigger_1.png
  Database/img/db_trigger_10.png
  Database/img/db_trigger_11.png
  Database/img/db_trigger_2.png
  Database/img/db_trigger_3.png
  Database/img/db_trigger_4.png
  Database/img/db_trigger_5.png
  Database/img/db_trigger_6.png
  Database/img/db_trigger_7.png
  Database/img/db_trigger_8.png
  Database/img/db_trigger_9.png
Labels: 🎁database

#40 [재성] B-tree & B+tree 내용 정리
  Database/db_B-tree_B+Tree.md
  Database/img/db_B_tree_and_B+tree_1.png
  Database/img/db_B_tree_and_B+tree_10.png
  Database/img/db_B_tree_and_B+tree_11.png
  Database/img/db_B_tree_and_B+tree_12.png
  Database/img/db_B_tree_and_B+tree_13.png
  Database/img/db_B_tree_and_B+tree_14.png
  Database/img/db_B_tree_and_B+tree_15.png
  Database/img/db_B_tree_and_B+tree_16.png
  Database/img/db_B_tree_and_B+tree_17.png
  Database/img/db_B_tree_and_B+tree_18.png
  Database/img/db_B_tree_and_B+tree_19.png
  Database/img/db_B_tree_and_B+tree_2.png
  Database/img/db_B_tree_and_B+tree_20.png
  Database/img/db_B_tree_and_B+tree_21.png
  Database/img/db_B_tree_and_B+tree_22.png
  Database/img/db_B_tree_and_B+tree_23.png
  Database/img/db_B_tree_and_B+tree_24.png
  Database/img/db_B_tree_and_B+tree_25.png
  Database/img/db_B_tree_and_B+tree_26.png
  Database/img/db_B_tree_and_B+tree_27.png
  Database/img/db_B_tree_and_B+tree_28.png
  Database/img/db_B_tree_and_B+tree_29.png
  Database/img/db_B_tree_and_B+tree_3.png
  Database/img/db_B_tree_and_B+tree_30.png
  Database/img/db_B_tree_and_B+tree_31.png
  Database/img/db_B_tree_and_B+tree_32.png
  Database/img/db_B_tree_and_B+tree_33.png
  Database/img/db_B_tree_and_B+tree_34.png
  Database/img/db_B_tree_and_B+tree_35.png
  Database/img/db_B_tree_and_B+tree_36.png
  Database/img/db_B_tree_and_B+tree_4.png
  Database/img/db_B_tree_and_B+tree_5.png
  Database/img/db_B_tree_and_B+tree_6.png
  Database/img/db_B_tree_and_B+tree_7.png
  Database/img/db_B_tree_and_B+tree_8.png
  Database/img/db_B_tree_and_B+tree_9.png
Labels: 🎁database

#39 [치왕] clustering & replication 내용 작성
  DataStructure/README.md
  Database/db_rdb_nosql_replication_and_clustering.md
  Database/img/db_rdb_nosql_replication_and_clustering_1.png
  Database/img/db_rdb_nosql_replication_and_clustering_10.png
  Database/img/db_rdb_nosql_replication_and_clustering_2.webp
  Database/img/db_rdb_nosql_replication_and_clustering_3.webp
  Database/img/db_rdb_nosql_replication_and_clustering_4.png
  Database/img/db_rdb_nosql_replication_and_clustering_5.png
  Database/img/db_rdb_nosql_replication_and_clustering_6.png
  Database/img/db_rdb_nosql_replication_and_clustering_7.png
  Database/img/db_rdb_nosql_replication_and_clustering_8.png
  Database/img/db_rdb_nosql_replication_and_clustering_9.png
Labels: 🎁database

#38 [예진] Redis 내용 작성
  Database/db_redis.md
  Database/img/db_redis_1.png
  Database/img/db_redis_2.png
  Database/img/db_redis_3.png
  Database/img/db_redis_4.png
  Database/img/db_redis_5.png
  Database/img/db_redis_6.png
  Database/img/db_redis_7.png
Labels: 🎁database

#41 [성환] Network Basic 내용 정리
  Network/img/network_basic_1.png
  Network/img/network_basic_2.png
  Network/img/network_basic_3.png
  Network/img/network_basic_4.png
  Network/img/network_basic_5.png
  Network/img/network_basic_6.png
  Network/img/network_basic_7.png
  Network/img/network_basic_8.png
  Network/img/network_basic_9.gif
  Network/network_basic.md
Labels: 👾 network

#34 [효림] connection pool 내용 작성
  Database/db_connection_pool.md
  Database/img/db_connectionpool.png
  Database/img/db_connectionpool_definition.png
  Database/img/db_connectionpool_hikarcp1.png
  Database/img/db_connectionpool_hikarcp2.png
  Database/img/db_connectionpool_jdbc.jpeg
  Database/img/db_connectionpool_jdbc.png
  Database/img/db_connectionpool_jdbc_driver.png
Labels: 🎁database

#43 [DOCS] DB 폴더 README 내용 추가 및 자료구조 인터뷰 파일 추가
  Database/README.md
  Interview/IV_DataStructure/iv_array_and_linkedlist.md
  Interview/IV_DataStructure/iv_binary_search_tree.md
  Interview/IV_DataStructure/iv_bubble_selection_insertion_sort.md
  Interview/IV_DataStructure/iv_encryption_algorithm.md
  Interview/IV_DataStructure/iv_graph.md
  Interview/IV_DataStructure/iv_hash_table.md
  Interview/IV_DataStructure/iv_heap.md
  Interview/IV_DataStructure/iv_quick_merge_heap_sort.md
  Interview/IV_DataStructure/iv_red_black_tree.md
  Interview/IV_DataStructure/iv_stack_and_queue.md
  Interview/IV_DataStructure/iv_tree.md
  Interview/IV_Database/iv_B-tree_B+Tree.md
  Interview/IV_Network/iv_basic.md
  Interview/IV_OS/README.md
  README.md
Labels: 📔 documentation

#45 [치왕] DS Interview 내용 작성
  DataStructure/image.png
  Interview/IV_DataStructure/README.md
  Interview/IV_DataStructure/iv_array_and_linkedlist.md
  Interview/IV_DataStructure/iv_binary_search_tree.md
  Interview/IV_DataStructure/iv_bubble_selection_insertion_sort.md
  Interview/IV_DataStructure/iv_encryption_algorithm.md
  Interview/IV_DataStructure/iv_graph.md
  Interview/IV_DataStructure/iv_hash_table.md
  Interview/IV_DataStructure/iv_heap.md
  Interview/IV_DataStructure/iv_quick_merge_heap_sort.md
  Interview/IV_DataStructure/iv_red_black_tree.md
  Interview/IV_DataStructure/iv_stack_and_queue.md
  Interview/IV_DataStructure/iv_tree.md
Labels: 🕶️data structure, 🎤 Interview

#47 [치왕] 대역폭 내용 작성 및 DB Interview 내용 작성
  Interview/IV_Database/README.md
  Interview/IV_Database/iv_B-tree_B+Tree.md
  Interview/README.md
  Network/img/network_bandwidth_1.png
  Network/network_bandwidth.md
  README.md
Labels: 🎁database, 👾 network, 🎤 Interview

#51 [윤하] tcp and udp 내용 정리
  Network/img/network_tcp_and_udp_1.png
  Network/img/network_tcp_and_udp_10.png
  Network/img/network_tcp_and_udp_2.png
  Network/img/network_tcp_and_udp_3.png
  Network/img/network_tcp_and_udp_4.png
  Network/img/network_tcp_and_udp_5.png
  Network/img/network_tcp_and_udp_6.jpg
  Network/img/network_tcp_and_udp_7.jpg
  Network/img/network_tcp_and_udp_8.png
  Network/img/network_tcp_and_udp_9.jpg
  Network/network_tcp_and_udp.md
Labels: 👾 network

#54 [재성] network_web_communication_flow 내용 정리
  Network/img/network_dns_web_communication_flow_1.png
  Network/img/network_dns_web_communication_flow_2.png
  Network/network_web_communication_flow.md
Labels: 👾 network

#52 [혜윤] blocking & non-blocking I/O 내용 작성
  Network/img/network_block_non_block_IO_1.png
  Network/img/network_block_non_block_IO_10.png
  Network/img/network_block_non_block_IO_11.png
  Network/img/network_block_non_block_IO_12.png
  Network/img/network_block_non_block_IO_13.png
  Network/img/network_block_non_block_IO_14.png
  Network/img/network_block_non_block_IO_2.png
  Network/img/network_block_non_block_IO_3.png
  Network/img/network_block_non_block_IO_4.png
  Network/img/network_block_non_block_IO_5.png
  Network/img/network_block_non_block_IO_6.png
  Network/img/network_block_non_block_IO_7.png
  Network/img/network_block_non_block_IO_8.png
  Network/img/network_block_non_block_IO_9.png
  Network/network_blocking_non_blocking_IO.md
Labels: 👾 network

#49 [예진 ] l4 l7 switch & load balancing 내용 작성
  Network/img/network_l4_l7_switch&loadbalancing_1.png
  Network/network_l4_l7_switch&loadbalancing.md
Labels: 👾 network
